body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opinion-title h1 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.author-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-name p {
  font-size: 1rem;
  font-weight: bold;
  color: #d9534f;
  margin: 0;
}

.author-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
